$largeScreen: 1200px;
$mediumScreen: 992px;
$smallScreen: 576px;
$white: #FFFFFF;
$black: #000000;
$darkGreen: #05453d;
$blueGreen: #07b7a2;
$green: #00ff5e;
$lightGreen: #caf8a7;
$beige: #fcdfbe;
$lightGray: #c8dbf7;
$darkGray: #293d47;
$gray: #1d262c;
$extraGray: #787878